<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="dist/app.css">
  <title>Document</title>
</head>
<body>

  <div id="app">

    <header>
      <div class="container">
        <div class="navbar">
          <div class="navbar-left">
            <img class="logo" :src="logo" alt="">
          </div>
          <div class="navbar-right">
            <ul>
              <li v-for="element in navbarLinks"> <a href="">{{element}}</a> </li>
              <li> <button class="blue-button"> Sign In</button></li>
            </ul>

          </div>

        </div>
        <div class="jumbotron">
          <h1>Businnes Planning
            <span class="weight-normal">Digital Technology</span>
            Modern Solution!
          </h1>
          <p>When, while the lovely valley teems witch vapour around meand the meridian sun strikes the upper surface.</p>
          <button class="pink-2-button">Try It Now</button>
          <button class="blue-button">Explore More</button>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="services">
          <span>Our Services</span>
          <h2>What <span class="weight-normal">We Do</span></h2>
          <p>When, while the lovely valley teems with vapour around meand the</p>

        <div class="services-list">
          <div class="data-analysis">
            <img src="images/Group-247.png" alt="">
            <h3>Data Analysis</h3>
            <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
          </div>
          <div class="seo-optimization">
            <img src="images/Group-567.png" alt="">
            <h3>SEO Optimization</h3>
            <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
          </div>
          <div class="security-data">
            <img src="images/Group-538.png" alt="">
            <h3>Security Data</h3>
            <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
          </div>
          <div class="branding-strategy">
            <img src="images/Group-566.png" alt="">
            <h3>Branding Strategy</h3>
            <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
          </div>

        </div>
        <button class="pink-2-button">View All Services</button>
      </div>
    </div>
    <div class="grow-your-business-section">
      <div class="container">
        <div class="grow-your-business">
          <span>Start Your Project</span>
          <h2>Grow Your Business <span class="weight-normal">With Our Strategy</span></h2>
          <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface,
            of the impenetrables foliage of my trees, and but a few stray gleams steal into the inner sanctuary.
          </p>
          <button class="pink-2-button">Try It Now</button>
          <button class="blue-button">Explore More</button>
        </div>
      </div>
    </div>

    <div class="portfolio-section">
      <div class="container">
        <div class="portfolio-section-content">
          <div class="portfolio-section-content-left">
            <span>Portfolio</span>
            <h2>latest <span class="weight-normal">work</span></h2>
          </div>
          <div class="portfolio-section-content-right">
            <i class="far fa-arrow-alt-circle-left"></i>
            <i class="far fa-arrow-alt-circle-right"></i>
          </div>
        </div>
        <div class="portfolio-section-content-img">
          <div class="portfolio-section-content-img-container">
            <img src="images/8wa60okr-1-790x576.jpg" alt="">
            <div class="portfolio-section-content-img-container-text">
              <h3>Basket of flower on table</h3>
              <span>Branding Startegy</span>
            </div>
          </div>
          <div class="portfolio-section-content-img-container">
            <img src="images/DRY-1-790x576.jpg" alt="">
            <div class="portfolio-section-content-img-container-text">
              <h3>Purinky Products</h3>
              <span>Digital Experience</span>
            </div>
          </div>
          <div class="portfolio-section-content-img-container">
            <img src="images/a247b00b-3621-470f-b4b8-b3ac46f25907-1-790x576.jpg" alt="">
            <div class="portfolio-section-content-img-container-text">
              <h3>Satisfy Poster</h3>
              <span>Branding Startegy</span>
            </div>
          </div>
        </div>
        <div class="icons-container">

          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>

        </div>
      </div>
    </div>

  <div class="our-pricing-section">
    <span>Price List</span>
    <h2>Our <span class="weight-normal">Pricing</span></h2>
    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface.</p>
    <div class="container">
      <div class="our-pricing-section-box-white">
        <h2 class="transparent-number">40</h2>
        <div class="our-pricing-section-box-white-top">
          <h3>Designing</h3>
          <span>Process</span>
        </div>
        <div class="our-pricing-section-box-white-middle">
          <span class="dollar">$</span>
          <h2>40</h2>
          <span>Per Month</span>
        </div>
        <div class="our-pricing-section-box-white-bottom">
          <ul>
            <li>  <span>Creative</span> Design Enabled</li>
            <li>  <span>Vibrant</span> Color Usage </li>
            <li>  <span>Eye</span> Catching Design </li>
            <li>  <span>Extreme</span> Typography </li>
            <li>  <span>Exceptional</span> Design </li>
          </ul>

          <div class="button-container">
            <button class="pink-button">
              <span>Order Now</span>
              <i class="fas fa-long-arrow-alt-right"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="our-pricing-section-box-pink">
        <h2 class="transparent-number">60</h2>
        <div class="our-pricing-section-box-pink-top">
          <h3>Designing</h3>
          <span>Process</span>
        </div>
        <div class="our-pricing-section-box-pink-middle">
          <span class="dollar">$</span>
          <h2>60</h2>
          <span>Per Month</span>
        </div>
        <div class="our-pricing-section-box-pink-bottom">
          <ul>
            <li>  <span>Creative</span> Design Enabled</li>
            <li>  <span>Vibrant</span> Color Usage </li>
            <li>  <span>Eye</span> Catching Design </li>
            <li>  <span>Extreme</span> Typography </li>
            <li>  <span>Exceptional</span> Design </li>
          </ul>

          <div class="button-container">
            <button class="white-button">
              <span>Order Now</span>
              <i class="fas fa-long-arrow-alt-right"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="our-pricing-section-box-white">
        <h2 class="transparent-number">80</h2>
        <div class="our-pricing-section-box-white-top">
          <h3>Designing</h3>
          <span>Process</span>
        </div>
        <div class="our-pricing-section-box-white-middle">
          <span class="dollar">$</span>
          <h2>80</h2>
          <span>Per Month</span>
        </div>
        <div class="our-pricing-section-box-white-bottom">
          <ul>
            <li>  <span>Creative</span> Design Enabled</li>
            <li>  <span>Vibrant</span> Color Usage </li>
            <li>  <span>Eye</span> Catching Design </li>
            <li>  <span>Extreme</span> Typography </li>
            <li>  <span>Exceptional</span> Design </li>
          </ul>

          <div class="button-container">
            <button class="pink-button">
              <span>Order Now</span>
              <i class="fas fa-long-arrow-alt-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-section">
    <span>Blog</span>
    <h2>Latest <span class="weight-normal">Post</span></h2>
    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface.</p>

    <div class="container-section">
      <div class="left">
        <div class="opacity"></div>

        <div class="inner-left">
          <div>
            <div><span>April 21, 2019</span> <span class="dash"> - </span> <span>by Paul</span></div>

            <h3>Amazon gets CCI nod to acquire 49% stake in</h3>
            <p>When, while the lovely valley teems with vapour around me, the meridian sun s...</p>
          </div>
        </div>

        <div class="inner-right">
          <div>
            <button class="white-button-2">Read More</button>
          </div>
        </div>
      </div>
      <div class="middle">
        <div>
          <div><span>April 21, 2019</span> <span class="dash"> - </span> <span>by Paul</span></div>

          <h3>Clearing Corporations get SEBI nod to invest in overnight funds</h3>
          <p>When, while the lovely valley teems with vapour around me, the meridian sun s...</p>
        </div>
        <div>
          <button class="white-button-2">Read More</button>
        </div>
      </div>

      <div class="right">
        <div>
          <div><span>April 21, 2019</span> <span class="dash"> - </span> <span>by Paul</span></div>

          <h3>Shabnam Dhillion, wife of RSSB chief Gurinder Dhillon, passes away in London</h3>
          <p>When, while the lovely valley teems with vapour around me, the meridian sun s...</p>
        </div>
        <div>
          <button class="white-button-2">Read More</button>
        </div>
      </div>


    </div>

  </div>

  <div class="container">
    <div class="testimonial-section">
      <span>Testimonial</span>
      <h2>What <span class="weight-normal">People Say</span></h2>
      <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface.</p>
      <div class="quotes-container">
        <div class="quotes-container-box">
          <div class="quotation-mark">"</div>
          <img src="images/szabo-viktor-1266895-unsplash-1024x1024.png" alt="">
          <div class="icons">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper impenetrable foliage of my trees, and but a thounsand.</p>

          <div class="credits">
            <span>Michkel Anegl</span>
            <p>Marketing Management</p>
          </div>
        </div>

        <div class="quotes-container-box">
          <div class="quotation-mark">"</div>
          <img src="images/philipe-cavalcante-539505-unsplash-1024x1024.png" alt="">
          <div class="icons">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper impenetrable foliage of my trees, and but a thounsand.</p>

          <div class="credits">
            <span>Michkel Anegl</span>
            <p>Marketing Management</p>
          </div>
        </div>

        <div class="quotes-container-box">
          <div class="quotation-mark">"</div>
          <img src="images/fabio-spinelli-695744-unsplash-1024x1024.png" alt="">
          <div class="icons">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper impenetrable foliage of my trees, and but a thounsand.</p>

          <div class="credits">
            <span>Michkel Anegl</span>
            <p>Marketing Management</p>
          </div>
        </div>

      </div>

      <div class="partners-img">
        <img src="images/client-1-1.png" alt="">
        <img src="images/clienty-2.png" alt="">
        <img src="images/clienty-4.png" alt="">
        <img src="images/client-5.png" alt="">
        <img src="images/clienty-3.png" alt="">
      </div>

      <div class="subscribe-box">
        <div class="subscribe-box-left">
          <h2>We Offer Awesome Services</h2>
          <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface.</p>
        </div>
        <div class="subscribe-box-right">
          <input type="text" placeholder="Enter Your Email Address">
          <button class="blue-button">Subscribe</button>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-content-column-a">
          <img class="logo" :src="logo" alt="">
          <p>When, while lovely valley teems vapour aroundmeand meridian sun strikes the upper impenetrable</p>
        </div>
        <div class="footer-content-column-b">
          <h3>Quick Links</h3>
          <ul>
            <li v-for="element in footerQuickLinks"> <a href="">{{element}}</a> </li>
          </ul>
        </div>
        <div class="footer-content-column-c">
          <h3>Resources</h3>
          <ul>
            <li v-for="element in footerResources"> <a href="">{{element}}</a> </li>
          </ul>
        </div>
        <div class="footer-content-column-d">
          <h3>Contact Us</h3>
          <ul>
            <li v-for="element in footerContactUs"> 
              <p> <span>Address:</span> {{element.address}}</p>
              <p> <span>Phone:</span> {{element.phone}}</p>
              <p> <span>Email:</span> {{element.email}}</p>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
    <hr>
    <div class="container">
      <div class="credits">
        <div class="credits-left">
          <p>© 2020 Phlox. All Rights Reserved.</p>
        </div>
        <div class="credits-right">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin-in"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </div>
  </footer>



  </div>
  <script src="js/script.js"></script>
</body>
</html>
