/*common rules*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

header{
  background-color: #527CEB;
}