@import "colors";
@import "fonts";
@mixin buttons-style {
  border-radius: 25px;
  height: 40px;
  border: none;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
@mixin our-pricing-box {
  width: 32%;
  height: 100%;
  position: relative;
  margin-top: 50px;
  border-radius: 20px;
  padding: 30px 0;
}
/*common rules*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: $font-body;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

h1, h2, h3{
  font-family: $font-title;
}

.weight-normal{
  font-weight: normal;
}

ul{
  list-style-type: none;
}

.pink-button{
  background: $primary-gradient;
  color: #fff;
  @include buttons-style();
  width: 170px;
  @include flex-space-between();
  align-items: center;
  padding: 0 23px;
  cursor: pointer;
}

.pink-button:hover {
  background: $secondary-gradient;
}

.white-button{
  background: #fff;
  color: $secondary-color;
  @include buttons-style();
  width: 170px;
  @include flex-space-between();
  align-items: center;
  padding: 0 23px;
  cursor: pointer;
}

.white-button-2{
  width: 125px;
  height: 40px;
  border-radius: 23px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.opacity{
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 23px;
}

.pink-2-button{
  background: $primary-gradient;
  color: #fff;
  @include buttons-style();
  width: 150px;
  cursor: pointer;
}

.pink-2-button:hover {
  background: $secondary-gradient;
}

.blue-button{
  background: $secondary-gradient;
  @include buttons-style();
  margin-left: 16px;
  width: 150px;
  color: #fff;
  cursor: pointer;
}

.blue-button:hover{
  background: $primary-gradient;
}
/* /common rules */
header{
  background-color: $primary-background-color;
  height: 760px;
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-size: 39%;
  background-position: 80% 45%;
  margin-bottom: 60px;

  .navbar{
    height: 90px;
    @include flex-space-between();
    align-items: center;
    
    &-left{

      .logo{
        height: 51px;
      }
    }
    &-right{

      li{
        padding-left: 25px;
        display: inline-block;
        font-size: 15px;
        
        a{
          color: #fff;
        }
        button{
          width: 90px;
          height: 35px;
          margin-left: 10px;
        }
        
        a{
          color: #fff;
        } 
      }
    }
  }

  .jumbotron{

    h1{
      width: 460px;
      margin-top: 140px;
      color: #fff;
      font-size: 50px;
    }
    span{
      margin: 5px 0;
    }

    p{
      margin-top: 30px;
      margin-bottom: 55px;
      width: 340px;
      color: $tertiary-color;
      font-size: 12px;
    }
  }
}

.services{
  text-align: center;

   > span{
    color: $secondary-color;
    font-size: 13px;
  }

  h2{
    margin: 5px 0;
    font-size: 38px;
  }

  p{
    color: $primary-color;
    font-size: 13px;
    margin-bottom: 100px;
  }

  &-list{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;

    &-box{
      width: 300px;
      height: 265px;
      position: relative;
      background-color: #fff;
    }
    &-box:hover{
      background-color: $primary-background-color;
      border-radius: 26px;
      
      p, h3{
        color: #fff;
      }
      .img-c{
        box-shadow: 0 0 10px #888888;
      }
    }

    .img-c{
      height: 180px;
      width: 180px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background: #fff;
      top: -100px;
      left: 56px;
      border-radius: 26px;

    }
    img{
      width: 125px;
      height: 100px;
    }

    h3{
      margin-top: 95px;
      margin-bottom: 10px;
    }

    p{
      color: $primary-color;
      width: 200px;
      margin: 0 auto;
    }
  }
  button{
    margin-top: 80px;
  }
}

.grow-your-business-section{
  background-color: $primary-background-color;
  height: 700px;
  color: #fff;
  margin-top: 70px;
  background-image: url('../images/men-data.png');
  background-repeat: no-repeat;
  background-size: 27%;
  background-position: 20% 60%;
  display: flex;
  align-items: center;

  .grow-your-business{
    margin-left: 650px;

    > span{
      font-size: 13px;
    }
  }

  h2{
    width: 450px;
    margin-top: 20px;
    font-size: 50px;
  }

  p{
    width: 420px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: $tertiary-color;
    font-size: 13px;
  }
}

.portfolio-section{
  background-color: $secondary-background-color;

  &-content{
    @include flex-space-between();
    align-items: flex-end;
    padding: 85px 0 60px 0;
  
    &-left{
      > span{
        color: $secondary-color;
        font-size: 13px;
      }

      h2{
        font-size: 32px;
      }
    }
    &-right{

      i{
        color: $secondary-color;
        font-size: 32px;
        padding-bottom: 10px;
        margin-left: 10px;
      }
    }
    
  }
  &-content-img{
    @include flex-space-between();
    
    &-container{
      width: 375px;
      height: 300px;
      background-color: #fff;
      border-radius: 20px;
    
      img{
        width: 375px;
        height: 240px;
        border-radius: 20px;
      }

      &-text{
        @include flex-space-between();
        height: calc(300px - 240px);
        padding: 16px 30px;

        span{
          color: $color-4;
          font-size: 10px;
        }

        h3{
          font-size: 14px;
        }
      }
    }

    &-container:hover{
      background: $gradient-hover;
    }
  }
  .icons-container{
    display: flex;
    justify-content: center;
    padding: 43px 0 40px 0;
  
     .fas:first-child{
      color: $secondary-color;
      font-size: 6px;
    }
    .fas{
      color: $primary-color;
      font-size: 6px;
      margin-left: 5px;
    }
  }
}

.our-pricing-section{
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: $primary-background-color;
  padding-top: 50px;
  position: relative;
  
  > span{
    color: $secondary-color;
    font-size: 12px;
  }

   > h2{
    margin: 12px 0 8px 0;
    color: #fff;
    font-size: 38px;
  }

  p{
    color: #fff;
    font-size: 13px;
    width: 37%;
    margin: 0 auto 12px auto;

  }
  
.container{
  @include flex-space-between();
  position: absolute;
  left: 158px;
}
  
  &-box-white{
    @include our-pricing-box();
    background-color: #fff;
    overflow: hidden;

    .transparent-number{
      font-size: 260px;
      position: absolute;
      right: -13px;
      top: -87px;
      color: #000;
      opacity: 0.1;
    }

    &-top{
      position: relative;
      z-index: 1;
      
      h3{
        font-size: 28px;
      }
  
      span{
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    &-middle{
      margin-top: 33px;
      padding-bottom: 40px;
      position: relative;
      z-index: 1;

      .dollar{
        margin-right: 90px;
        font-size: 15px;
      }

      h2{
        font-size: 80px;
        font-family: $font-our-pricing;
      }
      span{
        font-size: 12px;
      }
      
    }
    
    &-bottom{

      li{
        padding-bottom: 6px;
        font-size: 13px;
      }
      span{
        font-weight: bold;
      }
      .button-container{
        display: flex;
        justify-content: center;
        button{
          margin: 30px 0 16px 0;

          i{
            font-size: 16px;
          }
        }
      }
     
    }

  }
  &-box-pink{
    @include our-pricing-box();
    background: linear-gradient(to bottom, #bf2d6d 0%,#ea566d 100%);
    color: #fff;
    overflow: hidden;

    .transparent-number{
      font-size: 260px;
      position: absolute;
      right: -13px;
      top: -87px;
      color: #fff;
      opacity: 0.1;
    }

    &-top{
      position: relative;
      z-index: 1;

      h3{
        font-size: 28px;
      }
  
      span{
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    &-middle{
      margin-top: 31px;
      padding-bottom: 40px;
      position: relative;
      z-index: 1;

      .dollar{
        margin-right: 90px;
      }

      h2{
        font-size: 80px;
        font-family: $font-our-pricing;
      }
      span{
        font-size: 12px;
      }
      
    }
    
    &-bottom{
      
      li{
        padding-bottom: 6px;
        font-size: 13px;
      }
      span{
        font-weight: bold;
      }
      
      .button-container{
        display: flex;
        justify-content: center;
        button{
          margin: 30px 0 16px 0;

          i{
            font-size: 16px;
          }
        }
      }
    }
  }
}

.blog-section{
  background-color: $secondary-background-color;
  height: 700px;
  padding-top: 400px;
  text-align: center;

  > span{
    color: $secondary-color;
    font-size: 13px;
  }
  h2{
    margin: 5px 0;
    font-size: 38px;
  }

  > p{
    color: $primary-color;
    font-size: 13px;
    width: 37%;
    margin: 0 auto;
    margin-bottom: 75px;
  }

  .container-section{
    @include flex-space-between();
    text-align: left;
    padding: 0 100px;
    
    .left{
      @include flex-space-between();
      padding: 0 40px 30px 40px;
      background-image: url("../images/headway-537308-unsplash-1380x703.jpg");
      position: relative;
      background-size: cover;
      width: 48%;
      height: 330px;
      color: #fff;
      border-radius: 23px;

      .inner-left{
        display: flex;
        align-items: flex-end;
      }

      .inner-right{
        position: relative;
        display: flex;
        align-items: flex-end;
      }

      span{
        position: relative;
        font-size: 11px;
      }
      .dash{
        margin: 0 7px;
      }
      h3{
        position: relative;
        margin: 10px 0;
        font-size: 16px;
      }
      p{
        position: relative;
        font-size: 11px;
        width: 90%;
      }
    }
    .middle{
      width: 23%;
      height: 330px;
      background: linear-gradient(to bottom right, #020230 0%,#173270 100%);
      color: #fff;
      padding: 30px 60px 30px 42px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 23px;

      span{
        font-size: 11px;
      }
      .dash{
        margin: 0 7px;
      }
      h3{
        margin: 25px 0;
        font-size: 16px;
      }
      p{
        font-size: 11px;
      }
      button{
        margin-top: 40px;
      }

    }
    .right{
      width: 23%;
      height: 330px;
      background: $tertiary-gradient;
      color: #fff;
      padding: 30px 60px 30px 42px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 23px;

      span{
        font-size: 11px;
      }
      .dash{
        margin: 0 7px;
      }
      h3{
        margin: 25px 0;
        font-size: 16px;
      }
      p{
        font-size: 11px;
      }
      button{
        margin-top: 40px;
      }
    }
  }
}

.testimonial-section{
  text-align: center;
  padding-top: 310px;
  position: relative;

  > span{
    color: $secondary-color;
    font-size: 13px;
  }
  h2{
    margin: 5px 0 20px 0;
    font-size: 38px;
  }

  > p{
    color: $primary-color;
    font-size: 13px;
    width: 37%;
    margin: 0 auto;
    margin-bottom: 75px;
  }

  .quotes-container{
    text-align: left;
    @include flex-space-between();

    &-box{
      width: 30%;
      position: relative;
      text-align: center;

      .quotation-mark{
        position: absolute;
        font-size: 170px;
        top: 30px;
        left: 39%;
        opacity: 0.1;
      }

      img{
        height: 60px;
        border-radius: 100%;
        border: 3px solid $color-6;
      }
      
      .icons{
        padding: 26px 0;
        position: relative;
        z-index: 2;
        font-size: 12px;

        .fas{
          color: $color-6;
        }
        .far{
          color: $color-6;
        }
      }

      p{
        font-size: 13px;
        padding-bottom: 20px;
      }

      .credits{

        span{
          font-size: 13px;
          font-weight: bold;
        }

        p{
          margin-top: 7px;
        }
      }
      
    }
  }
  .partners-img{
    display: flex;
    justify-content: space-around;
    margin-top: 140px;

    img{
      height: 52px;
    }
    img:nth-child(2){
      height: 30px;
      margin-top: 12px;
    }
  }
  .subscribe-box{
    position: absolute;
    width: 100%;
    color: #fff;
    height: 220px;
    text-align: left;
    padding: 0 35px;
    @include flex-space-between();
    align-items: center;
    background: $primary-gradient;
    border-radius: 26px;
    bottom: -310px;

    &-left{

      h2{
        font-size: 36px;
        margin-bottom: 2px;
      }
      p{
        font-size: 12px;
      }
    }
    &-right{
      display:flex;
      flex-direction:row;
      border-radius: 23px;
      background-color: #fff;
      width: 430px;

      input{
        height: 50px;
        width: 320px;
        border-radius: 29px;
        padding-left: 35px;
        border: none;
      }
      button{
        width: 110px;
        margin: 5px 7px 5px 0;
      }
    }
  }
}

footer{
  background-color: $primary-background-color;
  height: 540px;
  margin-top: 205px;
  
  .footer-content{
    padding-top: 200px;
    @include flex-space-between();

    a{
      color: $color-5;
    }

    h3{
      color: #fff;
      font-size: 16px;
      padding-bottom: 15px;
    }

    &-column-a{
      width: 280px;

      p{
        color: $color-4;
        margin-top: 35px;
        font-size: 13px;
      }
    }
    &-column-b{
      padding-top: 15px;

      li{
        padding-bottom: 13px;
      }
    }
    &-column-c{
      padding-top: 15px;

      li{
        padding-bottom: 13px;
      }
    }
    &-column-d{
      padding-top: 15px;
      width: 300px;
      color: $color-5;

      span{
        color: #fff;
      }

      p{
        margin-bottom: 5px;
      }

      p:first-child{
        margin: 5px 0 20px 0;
      }

    }
  }
  
  hr {
    margin-top: 40px;
    border: none;
    height: 0.5px;
    background-color: $color-5;
    margin-bottom: 20px;
  }
  .credits{
    @include flex-space-between();

    &-left{
      color: $color-5;
    }
    &-right{

      i{
        padding-left: 30px;
        font-size: 14px;
        color: #fff;
      }
    }
  }
}