@import "colors";
@import "fonts";
@mixin buttons-style {
  border-radius: 25px;
  width: 140px;
  height: 40px;
  border: none;
  color: #fff;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
/*common rules*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: $font-body;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

h1, h2, h3{
  font-family: $font-title;
}

.weight-normal{
  font-weight: normal;
}

ul{
  list-style-type: none;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.pink-button{
  background: $gradient-pink;
  @include buttons-style();
}

.blue-button{
  background: $gradient-blue;
  @include buttons-style();
  margin-left: 20px;
}

header{
  background-color: $blue-background;
  height: 680px;
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 80% 60%;
  margin-bottom: 60px;

  .navbar{
    height: 90px;
    display: flex;
    align-items: center;
  }

  .jumbotron{

    h1{
      width: 380px;
      margin-top: 100px;
      color: #fff;
      font-size: 45px;
    }
    span{
      margin: 5px 0;
    }

    p{
      margin-top: 30px;
      margin-bottom: 55px;
      width: 400px;
      color: $blue-p;
    }
  }
}

.services{
  text-align: center;

   > span{
    color: $span;
  }

  h2{
    margin: 15px 0;
  }

  p{
    color: $services-p;
  }

  &-list{
    @include flex-space-between();
    text-align: center;

    img{
      width: 125px;
      height: 100px;
      margin-top: 100px;
    }

    h3{
      margin-top: 30px;
      margin-bottom: 20px;
    }

    p{
      color: $services-p;
      width: 200px;
    }
  }
  button{
    margin-top: 90px;
  }
}

.grow-your-business-section{
  background-color: #0a1750;
  height: 700px;
  color: #fff;
  margin-top: 70px;
  background-image: url('../images/men-data.png');
  background-repeat: no-repeat;
  background-size: 27%;
  background-position: 20% 60%;
  margin-bottom: 60px;
  display: flex;
  align-items: center;

  .grow-your-business{
    margin-left: 650px;
  }

  h2{
    width: 410px;
    margin-top: 30px;
    font-size: 45px;
  }

  p{
    width: 400px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: $blue-p;
  }
}

.portfolio-section{
  background-color: grey;
  height: 500px;

  &-content{
    margin-bottom: 30px;
    > span{
      color: $span;
    }
  }
  &-content-img{
    @include flex-space-between();
    
    &-container{
      width: 450px;
      height: 400px;
      background-color: #fff;
      border-radius: 20px;
    
      img{
        width: 450px;
        border-radius: 20px;
      }

      &-text{
        @include flex-space-between();
        height: calc(400px - 328px);
        padding: 18px 40px;

        span{
          color: $services-p;
        }
      }
    }

    &-container:hover{
      background: $gradient-pink;
    }

  }
}
