$primary-background-color: #0a1750;
$secondary-background-color: #f1f1f1;
$primary-color: #888;
$secondary-color: #f9636b;
$primary-gradient: linear-gradient(to right, #b7256e 0%,#f8626b 100%);
$secondary-gradient: linear-gradient(to right, #03a6d2 0%,#1f3e83 100%);
$gradient-hover: linear-gradient(to right, #cc396d 0%,#f9646c 100%);
$tertiary-gradient: linear-gradient(to bottom right, #020230 0%,#173270 100%);
$tertiary-color: #f4f4f4;
$color-4: #aaa;
$color-5: #69717b;
$color-6: #b6246e;